<tr ...attributes>
  {{#if (or @canMoveUp @canMoveDown)}}
    <td>
      <this.OrderButtonGroup
        @canMoveUp={{@canMoveUp}}
        @canMoveDown={{@canMoveDown}}
        @moveUp={{@moveUp}}
        @moveDown={{@moveDown}}
      />
    </td>
  {{/if}}
  {{#if @showIndex}}
    <td>
      {{this.index}}
    </td>
  {{/if}}
  {{#each this.fields as |field|}}
    {{#let
      (component-for-display-type field.displayType show=(or @show field.displayShow))
      as |FormField|
    }}
      <td>
        <FormField
          @field={{field}}
          @form={{@form}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{@sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @cacheConditionals={{@cacheConditionals}}
          @show={{or @show field.displayShow}}
          @inTable={{true}}
        />
      </td>
    {{/let}}
  {{/each}}
  {{#if @canRemove}}
    <td>
      <AuButton
        @skin="naked"
        @alert={{true}}
        @icon="bin"
        {{on "click" (fn @onRemoveEntry @sourceNode)}}
      >{{@removeLabel}}</AuButton>
    </td>
  {{/if}}
</tr>