<AuLabel
  @error={{this.hasErrors}}
  @warning={{this.hasWarnings}}
  @required={{this.isRequired}}
  for={{this.inputId}}
>
  {{@field.label}}
</AuLabel>
<div class={{if this.errors "ember-power-select--error"}}>
  <PowerSelect
    @triggerId={{this.inputId}}
    @searchField="label"
    @searchEnabled={{true}}
    @selected={{this.selected}}
    @options={{this.options}}
    @onClose={{fn (mut this.hasBeenFocused) true}}
    @onChange={{this.updateSelection}}
    @allowClear={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten gevonden"
    as |concept|
  >
    {{concept.label}}
  </PowerSelect>
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}