<div class="au-o-grid au-o-grid--flush au-u-margin-bottom-tiny">
  <div class="au-o-grid__item au-u-1-2">
    <AuLabel {{did-insert this.loadData}} for={{this.inputId}}>{{@field.label}}</AuLabel>
  </div>
  <div class="au-o-grid__item au-u-1-2 au-u-text-right">
    {{#if this.isRequired}}
      <AuPill>Verplicht</AuPill>
    {{/if}}
  </div>
</div>
<AuTextarea
  id="{{this.inputId}}"
  @width={{"block"}}
  @value={{this.value}}
  {{on "blur" this.updateValue}}
/>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}
