<div class="js-accordion js-accordion--open">
  <AuLabel>{{@field.label}}</AuLabel>

  <WuButtonGroup @isInline={{true}} @class="button-group__inline--small u-spacer--bottom--tinier">
    <WuButton @label="Alle meldingen" @onClick={{this.reset}} @class={{if (not this.isEnabled)
                                                                                "button--active"}} @isAlt={{true}}
              @isNarrow={{true}} />
    <WuButton @label="Specifieke periode" @onClick={{this.enable}} @class={{if this.isEnabled
                                                                                        "button--active"}}
              @isAlt={{true}} @isNarrow={{true}} />
  </WuButtonGroup>

  {{#if this.isEnabled}}
    <div class="accordion__content">
      <WuDateRange
              @fromValue={{this.from}}
              @toValue={{this.to}}
              @onChangeFromValue={{this.updateFrom}}
              @onChangeToValue={{this.updateTo}}
              @fromMinDate="01.01.2012"
              @fromMaxDate="01.01.2050"
              @toMinDate="01.01.2012"
              @toMaxDate="01.01.2050"
      />
    </div>
  {{/if}}
</div>
