<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputId}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>

<div>
  <ul id={{this.inputId}}>
    {{#each this.options as |option|}}
      <li>
        <AuControlCheckbox @identifier="{{@field.uri}}/<{{option.subject.value}}"
                           @name={{@field.uri.value}}
                           @label={{option.label}}
                           @value={{option.label}}
                           checked={{option.provided}}
                           onclick={{fn this.updateValue option}}
                           @disabled={{true}}/>
      </li>
    {{/each}}
  </ul>
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}
