<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
{{#each this.errors as |error|}}
    <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
{{/each}}

<table class="au-c-table au-c-table--zebra">
  <thead>
    <tr>
      <th rowspan="2"></th>
      <th colspan="2">
        Aan- en vrijliggend fietspad langs 1 kant van de weg
      </th>
      <th colspan="2">
        Aan- en vrijliggend fietspad langs beide kanten van de weg
      </th>
      <th colspan="2">
        Fietsweg
      </th>
      <th colspan="2">
        Fietssugestiestroken
      </th>
      <th>Fietszone</th>
    </tr>
    <tr class="au-c-table__row-indent">
      <th>Enkelrichting</th>
      <th>Dubbelrichting</th>
      <th>Enkelrichting</th>
      <th>Dubbelrichting</th>
      <th>Enkelrichting</th>
      <th>Dubbelrichting</th>
      <th>Enkelrichting</th>
      <th>Dubbelrichting</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <AuLabel>
          Verbeteren
        </AuLabel>
      </td>
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="fietsweg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="fietsweg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="fietssugestiestroken"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="fietssugestiestroken"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="verbeteren"
        @bikeLaneType="fietszone"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
    </tr>
    <tr>
      <td>
        <AuLabel>
          Vernieuwen
        </AuLabel>
      </td>
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendAanEenKantVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="vrijliggendBeideKantenVanDeWeg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="fietsweg"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="fietsweg"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="fietssugestiestroken"
        @directionType="enkelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="fietssugestiestroken"
        @directionType="dubbelrichting"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
      <CustomSubsidyFormFields::ObjectiveTable::TableCell
        @approachType="vernieuwing"
        @bikeLaneType="fietszone"
        @storeOptions={{this.storeOptions}}
        @onUpdateCell={{this.validate}}
      />
    </tr>
  </tbody>
</table>