<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Voorkeur</AuPill>
  {{/if}}
</AuLabel>
<table class="data-table au-u-margin-bottom-tiny {{if this.errors "data-table--error"}}">
  <tbody data-test-mn="url-box-list">
  {{#each this.remoteUrls as |remoteUrl index|}}
    <tr>
      <td>
        <AuInput
                id="{{this.inputId}}-{{index}}"
                class="{{if remoteUrl.isInvalid "au-c-input--error"}}"
                placeholder="http://www.uw-bestuur.be/specifiek-document"
                @width={{"block"}}
                @value={{remoteUrl.address}}
          {{on "blur" (fn this.updateRemoteUrl remoteUrl)}}
        />
        {{#if remoteUrl.isInvalid}}
          {{#each remoteUrl.errors as |error|}}
            <AuHelpText @error={{"error"}}>{{error}}</AuHelpText>
          {{/each}}
        {{/if}}
        <div class="au-u-margin-top-tiny">
          {{#if remoteUrl.address}}
            <a class="link link--icon--external u-padding--right--small" href={{remoteUrl.address}} target="_blank" rel="noopener noreferrer">
              Test&nbsp;link
            </a>
          {{/if}}
          <AuButton @skin="tertiary"{{on "click" (fn this.removeRemoteUrl remoteUrl)}}>
            <AuIcon @icon="bin" @alignment="left" /> Verwijder&nbsp;link
          </AuButton>
        </div>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td>
      <div class="au-u-text-center">
        {{#unless this.remoteUrls}}
          <AuHelpText class="au-u-margin-bottom-tiny au-u-margin-bottom-top">Nog geen links toegevoegd.</AuHelpText>
        {{/unless}}
        <AuButton id="{{inputId}}" class="au-u-margin-bottom-tiny" {{on "click" this.addUrlField}}>
          <i class="vi vi-u-xs au-u-margin-right-tiny vi-plus button__icon" aria-hidden="true"></i> Voeg nieuwe link toe
        </AuButton>
        <div class="au-u-margin-bottom-tiny au-u-margin-top-tiny">
          <AuHelpText>Enkel links naar specifieke documenten, geen overzichtspagina's.</AuHelpText>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

{{#unless this.hasInvalidRemoteUrl}}
  {{#each this.errors as |error|}}
    <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
  {{/each}}
{{/unless}}
