<AuLabel
  @error={{this.hasErrors}}
  @required={{this.isRequired}}
  @requiredLabel={{@requiredLabel}}
  @warning={{this.hasWarnings}}
  for={{this.inputFor}}
  class={{if
    (and (macroGetOwnConfig "helpTextBelowLabel") @field.help)
    "au-u-margin-bottom-none"
  }}
>
  {{@field.label}}
</AuLabel>
<this.HelpText @field={{@field}} />

{{#if this.remoteUrls}}
  <ul class="au-o-flow au-o-flow--tiny">
    {{#each this.remoteUrls as |remoteUrl index|}}
      <li class="au-c-card au-o-box au-o-box--small">
        <AuInput
          @error={{remoteUrl.isInvalid}}
          @width="block"
          value={{remoteUrl.address}}
          id="{{this.inputId}}-{{index}}"
          placeholder="http://www.uw-bestuur.be/specifiek-document"
          {{on "blur" (fn this.updateRemoteUrl remoteUrl)}}
          {{(if
            (eq remoteUrl this.remoteUrlToFocus) (modifier this.autofocus)
          )}}
        />
        {{#if remoteUrl.isInvalid}}
          {{#each remoteUrl.errors as |error|}}
            <AuHelpText @error="error">{{error}}</AuHelpText>
          {{/each}}
        {{/if}}
        <div class="au-u-margin-top-tiny">
          {{#if remoteUrl.address}}
            <AuLinkExternal
              @icon="external-link"
              @iconAlignment="left"
              href={{remoteUrl.address}}
            >
              Test&nbsp;link
            </AuLinkExternal>
          {{/if}}
          <AuButton
            @skin="link"
            @icon="bin"
            @iconAlignment="left"
            {{!template-lint-disable no-pointer-down-event-binding}}
            {{!
              We use the mousedown event because it is triggered before the `blur` event of the input element.
              This is needed because the blur event displays validation messages if the input is empty which displace the button
              and as a result, the click event wouldn't be triggered.
            }}
            {{on "mousedown" (fn this.removeRemoteUrl remoteUrl)}}
          >
            Verwijder&nbsp;link
          </AuButton>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}

<div class="au-u-margin-top au-u-text-center">
  {{#unless this.remoteUrls}}
    <AuHelpText class="au-u-margin-bottom-tiny au-u-margin-bottom-top">
      Nog geen links toegevoegd.
    </AuHelpText>
  {{/unless}}
  <AuButton
    @icon="plus"
    @iconAlignment="left"
    id={{this.inputId}}
    class="au-u-margin-bottom-tiny"
    {{on "click" this.addUrlField}}
  >
    Voeg nieuwe link toe
  </AuButton>
  <div class="au-u-margin-bottom-tiny au-u-margin-top-tiny">
    <AuHelpText>Enkel links naar specifieke documenten, geen overzichtspagina's.</AuHelpText>
  </div>
</div>

{{#unless this.hasInvalidRemoteUrl}}
  {{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
  {{/each}}

  {{#each this.warnings as |warning|}}
    <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
  {{/each}}
{{/unless}}