<div class="au-u-flex au-u-flex--between au-u-margin-bottom">
  <AuLabel>
    {{@field.label}}
    <AuTooltip @placement="right" as |tooltip|>
      <AuBadge
        {{tooltip.target}}
        @skin="border"
        @icon="question-circle"
        @size="small"
        class="au-u-margin-left-small"
      >
      </AuBadge>
      <tooltip.Content>
        Bij het indienen wordt er een kopie van het document in de link
        gegenereerd en opgeslagen.
      </tooltip.Content>
    </AuTooltip>
  </AuLabel>

  {{#if this.canDownloadZip}}
    <AuButton
      @skin="primary"
      @icon="download"
      @loading={{this.downloadAsZip.isRunning}}
      @loadingMessage=".zip aan het genereren"
      {{on "click" this.downloadAsZip.perform}}
    >
      Download alle links als .zip
    </AuButton>
  {{/if}}
</div>

{{#if this.loadRemoteUrls.isIdle}}
  {{#if this.remoteUrls}}
    <AuHelpText
      @skin="secondary"
      @size="large"
      class="au-u-bold au-u-margin"
    >
      Brondocumenten
    </AuHelpText>
    <ul class="au-o-flow au-o-flow--tiny">
      {{#each this.sourceDocumentUrls as |remoteUrl|}}
        <this.RemoteDataObjectInfoCard
          @model={{remoteUrl}}
        ></this.RemoteDataObjectInfoCard>
      {{/each}}
    </ul>

    {{#if this.attachmentUrls}}
      <AuHelpText
        @skin="secondary"
        @size="large"
        class="au-u-bold au-u-margin"
      >
        Bijlagen
      </AuHelpText>
      <ul class="au-o-flow au-o-flow--tiny">
        {{#each this.attachmentUrls as |remoteUrl|}}
          <this.RemoteDataObjectInfoCard
            @model={{remoteUrl}}
          ></this.RemoteDataObjectInfoCard>
        {{/each}}
      </ul>
    {{/if}}
  {{else}}
    {{#if this.hasRemoteUrlErrors}}
      <AuAlert @skin="error" @icon="info-circle" @size="small">
        Er ging iets fout bij het ophalen van de adressen.
      </AuAlert>
    {{else}}
      <AuHelpText class="au-u-margin-bottom-tiny">
        Er werden geen links toegevoegd.
      </AuHelpText>
    {{/if}}
  {{/if}}
{{else}}
  <AuLoader @centered={{false}} @hideMessage={{true}}>Links aan het laden</AuLoader>
{{/if}}