<AuLabel>
  Vul in per organisator: het aantal opgevangen kinderen voor alle volle en halve dagen en het aantal kinderen dat in aanmerking komt voor infrastructuursubsidies.
</AuLabel>
<AuHelpText class="au-u-margin-bottom-small">
  Niet zeker wat u moet invullen? Ga naar de <a href="https://lokaalbestuur.vlaanderen.be/loket-lokaal-bestuur-module-subsidies" target="_blank" rel="noopener">informatiepagina over subsidies</a> die u kan indienen via het loket.
</AuHelpText>
<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <thead>
    <tr>
      <th>
        Naam&nbsp;organisator
        <AuHelpText>bv. school, jeugdvereniging</AuHelpText>
      </th>
      <th>
        Aantal kinderen voor alle volle dagen
      </th>
      <th>
        Aantal kinderen voor alle halve dagen
      </th>
      <th>
        Aantal kinderen in aanmerking voor infrastructuursubsidies
      </th>
      <th>Totaal
        <br>
         €&hairsp;{{this.aangevraagdBedrag}}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.sortedEntries as |entry index|}}
      <tr>
        <td>
          <AuLabel for="actor-name-{{index}}" class="au-u-hidden-visually">Naam actor</AuLabel>
          <AuInput id="actor-name-{{index}}" @width="block" @value={{entry.actorName.value}}
            class={{if entry.actorName.errors "au-c-input--error"}}
            {{on "blur" (fn this.updateActorNameValue entry)}}
          />
          {{#each entry.actorName.errors as |error|}}
            <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
          {{/each}}
        </td>
        <td>
          <AuLabel for="all-day-{{index}}" class="au-u-hidden-visually">
            Kinderen voor <em>alle volle dagen</em>,
            <br>
            met personeel
          </AuLabel>
          <AuInput id="all-day-{{index}}" @width={{"block"}} type="number" @value={{entry.numberChildrenForFullDay.value}}
            class={{if entry.numberChildrenForFullDay.errors "au-c-input--error"}}
            {{on "blur" (fn this.updateNumberChildrenForFullDayValue entry)}}
          />
          {{#each entry.numberChildrenForFullDay.errors as |error|}}
            <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
          {{/each}}
        </td>
        <td>
          <AuLabel for="half-day-{{index}}" class="au-u-hidden-visually">
            Kinderen voor alle halve dagen,
            <br>
            met personeel
          </AuLabel>
          <AuInput id="half-day-{{index}}" @width={{"block"}} type="number" @value={{entry.numberChildrenForHalfDay.value}}
            class={{if entry.numberChildrenForHalfDay.errors "au-c-input--error"}}
            {{on "blur" (fn this.updateNumberChildrenForHalfDayValue entry)}}
          />
          {{#each entry.numberChildrenForHalfDay.errors as |error|}}
            <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
          {{/each}}
        </td>
        <td>
          <AuLabel for="per-infra-{{index}}" class="au-u-hidden-visually">
            Kinderen per infrastructuur per dag,
            <br>
            met of zonder personeel
          </AuLabel>
          <AuInput id="per-infra-{{index}}" @width={{"block"}} type="number" @value={{entry.numberChildrenPerInfrastructure.value}}
            class={{if entry.numberChildrenPerInfrastructure.errors "au-c-input--error"}}
            {{on "blur" (fn this.updateNumberChildrenPerInfrastructureValue entry)}}
          />
          {{#each entry.numberChildrenPerInfrastructure.errors as |error|}}
            <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
          {{/each}}
        </td>
        <td>
          €&hairsp;{{entry.totalAmount}}
        </td>
        <td>
          <AuButton @hideText="true" @icon="bin" @skin="tertiary" @alert="true"
            {{on "click" (fn this.removeEntry entry)}}>
            <AuIcon @icon="bin" @alignment="left" />
            Verwijder rij
          </AuButton>
        </td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="7" class="data-table__add-row u-align-center">
        <AuButton @iconAlignment="left" @icon="add" {{on "click" this.addEntry}}>Voeg actor toe</AuButton>
      </td>
    </tr>
  </tbody>
</table>

{{yield}}
