<AuLabel>
  Vul in per actor: het aantal opgevangen kinderen voor alle volle dagen, voor alle halve dagen en voor infrastructuur.
</AuLabel>
<AuHelpText class="au-u-margin-bottom-small">
  Niet zeker wat u moet invullen? Ga naar de <a href="http://miet.be" target="_blank" rel="noopener noreferrer">overzichtspagina met informatie over alle subsidies</a>.
</AuHelpText>
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small ">
  <thead>
    <tr>
      <th>Naam&nbsp;actor</th>
      <th>
        Aantal kinderen voor alle volle dagen,
        <br>
        met personeel
      </th>
      <th>
        Aantal kinderen voor alle halve dagen,
        <br>
        met personeel
      </th>
      <th>
        Aantal kinderen per infrastructuur per dag,
        <br>
        met en zonder personeel
      </th>
      <th>Totaal
        <br>
         €&hairsp;{{this.aangevraagdBedrag}}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.sortedEntries as |entry index|}}
      <tr>
        <td>
          <AuLabel for="actor-name-{{index}}" class="au-u-hidden-visually">Naam actor</AuLabel>
          <AuInput id="actor-name-{{index}}" @width="block" @value={{entry.actorName.value}} disabled={{true}}/>
        </td>
        <td>
          <AuLabel for="all-day-{{index}}" class="au-u-hidden-visually">
            Kinderen voor <em>alle volle dagen</em>,
            <br>
            met personeel
          </AuLabel>
          <AuInput id="all-day-{{index}}" @width={{"block"}} @value={{entry.numberChildrenForFullDay.value}} disabled={{true}}/>
        </td>
        <td>
          <AuLabel for="half-day-{{index}}"  class="au-u-hidden-visually">
            Kinderen voor alle halve dagen,
            <br>
            met personeel
          </AuLabel>
          <AuInput id="half-day-{{index}}" @width={{"block"}} @value={{entry.numberChildrenForHalfDay.value}} disabled={{true}}/>
        </td>
        <td>
          <AuLabel for="per-infra-{{index}}" class="au-u-hidden-visually">
            Kinderen per infrastructuur per dag,
            <br>
            met of zonder personeel
          </AuLabel>
          <AuInput id="per-infra-{{index}}" @width={{"block"}} @value={{entry.numberChildrenPerInfrastructure.value}} disabled={{true}}/>
        </td>
        <td>
          €&hairsp;{{entry.totalAmount}}
        </td>
        <td>
          <AuButton @hideText="true" @icon="bin" @skin="tertiary" @alert="true">
            <AuIcon @icon="bin" @alignment="left" />
            Verwijder rij
          </AuButton>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{yield}}
