<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<table class="data-table au-u-margin-bottom-tiny {{if this.errors "data-table--error"}}">
  <tbody data-test-mn="url-box-list">
  {{#each this.remoteUrls as |remoteUrl index|}}
    <tr>
      <td>
        <AuInput
                id="{{this.inputId}}-{{index}}"
                class="{{if remoteUrl.isInvalid "au-c-input--error"}}"
                placeholder="http://www.uw-bestuur.be/specifiek-document"
                @width={{"block"}}
                @value={{remoteUrl.address}}
          {{on "blur" (fn this.updateRemoteUrl remoteUrl)}}
        />
        {{#if remoteUrl.isInvalid}}
          {{#each remoteUrl.errors as |error|}}
            <AuHelpText @error={{"error"}}>{{error}}</AuHelpText>
          {{/each}}
        {{/if}}
        <div class="au-u-margin-top-tiny">
          {{#if remoteUrl.address}}
            <a class="link link--neutral u-padding--right--small" href={{remoteUrl.address}} target="_blank" rel="noopener noreferrer">
              <svg class="au-c-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path></svg> Test&nbsp;link
              </a>
          {{/if}}
          <AuButton @skin="tertiary"{{on "click" (fn this.removeRemoteUrl remoteUrl)}}>
            <AuIcon @icon="bin" @alignment="left" /> Verwijder&nbsp;link
          </AuButton>
        </div>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td>
      <div class="au-u-text-center">
        {{#unless this.remoteUrls}}
          <AuHelpText class="au-u-margin-bottom-tiny au-u-margin-bottom-top">Nog geen links toegevoegd.</AuHelpText>
        {{/unless}}
        <AuButton id="{{inputId}}" class="au-u-margin-bottom-tiny" {{on "click" this.addUrlField}}>
          <i class="vi vi-u-xs au-u-margin-right-tiny vi-plus button__icon" aria-hidden="true"></i> Voeg nieuwe link toe
        </AuButton>
        <div class="au-u-margin-bottom-tiny au-u-margin-top-tiny">
          <AuHelpText>Enkel links naar specifieke documenten, geen overzichtspagina's.</AuHelpText>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

{{#unless this.hasInvalidRemoteUrl}}
  {{#each this.errors as |error|}}
    <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
  {{/each}}
{{/unless}}
