<div class="au-o-grid au-o-grid--flush au-u-margin-bottom-tiny">
  <div class="au-o-grid__item au-u-1-2">
    <AuLabel {{did-insert this.loadData}}>{{@field.label}}</AuLabel>
  </div>
  <div class="au-o-grid__item au-u-1-2 au-u-text-right">
    {{#if this.isRequired}}
      <AuPill>Verplicht</AuPill>
    {{/if}}
  </div>
</div>
<PowerSelect
  @disabled={{true}}
  @selected={{this.selected}}
  @options={{this.options}}
  @onChange={{noop}}
  as |concept|>
  {{concept.label}}
</PowerSelect>
