<div class="custom-accordion" ...attributes>
  {{#if this.visible}}
    <AuButton 
      @skin="naked"
      @icon="nav-down"
      @iconAlignment="right"
      {{on "click" this.toggleAccordion}}
    >
      {{@name}}
    </AuButton>
    <div>
    {{yield}}
    </div>
  {{else}}
    <AuButton
      @skin="naked"
      @icon="nav-right"
      @iconAlignment="right"
      {{on "click" this.toggleAccordion}}
    >
      {{@name}}
    </AuButton>
    <div class="au-u-hidden">
    {{yield}}
    </div>
  {{/if}}
</div>
