<div
  class="file-card"
  style="position: relative;"
  {{! template-lint-disable no-inline-styles}}
  ...attributes
>
  {{#if this.isRemovable}}
    <button type="button" class="au-c-close" {{on "click" this.delete}}>
      <AuIcon @icon="cross" @size="large" />
      <span class="au-u-hidden-visually">Verwijderen</span>
    </button>
  {{/if}}

  <div class="au-o-box au-o-box--small au-c-card">
    <AuHeading @level="4" @skin="6">
      {{@filename}}

      {{#if @fileSize}}
        <span class="au-c-info-text">({{@fileSize}})</span>
      {{/if}}
    </AuHeading>
    {{#if this.isDownloadable}}
      <p class="au-u-margin-top-tiny">
        <a class="au-c-link" href={{@downloadLink}} download={{@filename}}>
          <AuIcon @icon="download" @alignment="left" />
          Download bestand
        </a>
      </p>
    {{/if}}
  </div>
</div>