{{#if this.children}}
  <div class={{if @useNewListingLayout "au-o-flow"}} ...attributes>
    {{#if this.showTitleBlock}}
      <div class="au-u-margin-bottom-small">
        {{#if this.section.name}}
          <AuHeading @level={{this.titleLevel}} @skin={{this.titleSkin}}>
            {{this.section.name}}
          </AuHeading>
        {{/if}}
        {{#if this.section.help}}
          {{! template-lint-disable no-triple-curlies}}
          <p class="au-u-light">{{{this.section.help}}}</p>
        {{/if}}
        {{#each this.errors as |error|}}
          <AuAlert
            class="au-u-margin-bottom-small au-u-margin-top-small"
            @icon="alert-triangle"
            @title={{error.resultMessage}}
            @skin="error"
            @size="small"
          />
        {{/each}}
      </div>
    {{/if}}
    {{#each this.children as |field|}}
      {{#if field.displayType}}
        {{#if (this.childIsSection field)}}
          <FormSection
            @level={{this.nextLevel}}
            @form={{@form}}
            @section={{field}}
            @formStore={{@formStore}}
            @graphs={{@graphs}}
            @sourceNode={{@sourceNode}}
            @forceShowErrors={{@forceShowErrors}}
            @cacheConditionals={{@cacheConditionals}}
            @show={{@show}}
            @useNewListingLayout={{@useNewListingLayout}}
          />
          {{#if @last}}
            {{#if (not (this.isLast this.children field))}}
              <AuHr @size="large" />
            {{/if}}
          {{else}}
            <AuHr @size="large" />
          {{/if}}
        {{else if (this.childIsListing field)}}
          <Listing
            @level={{this.nextLevel}}
            @listing={{field}}
            @formStore={{@formStore}}
            @graphs={{@graphs}}
            @sourceNode={{@sourceNode}}
            @forceShowErrors={{@forceShowErrors}}
            @cacheConditionals={{@cacheConditionals}}
            @show={{@show}}
            @useNewListingLayout={{@useNewListingLayout}}
          />
        {{else}}
          <div class="au-u-margin-bottom-small">
            {{#let
              (component-for-display-type field.displayType show=@show)
              as |FormField|
            }}
              <FormField
                @field={{field}}
                @form={{@form}}
                @formStore={{@formStore}}
                @graphs={{@graphs}}
                @sourceNode={{@sourceNode}}
                @forceShowErrors={{@forceShowErrors}}
                @cacheConditionals={{@cacheConditionals}}
                @show={{@show}}
              />
            {{/let}}

            {{#if field.help}}
              {{! template-lint-disable no-triple-curlies}}
              <AuHelpText>{{{field.help}}}</AuHelpText>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>
{{/if}}
