{{#if this.children}}
  <div ...attributes>
    {{#if @group.name}}
      <div class="au-u-margin-bottom-small">
        <AuHeading @level={{this.level}} @skin={{add this.level 1}}>
          {{@group.name}}
        </AuHeading>
        {{#if @group.help}}
          <p class="au-u-light au-u-margin-top-xsmall">{{@group.help}}</p>
        {{/if}}
        {{#each this.errors as |error|}}
          <AuAlert class="au-u-margin-bottom-small au-u-margin-top-small"
                   @alertIcon="alert-triangle"
                   @alertTitle={{error.resultMessage}}
                   @alertskin={{"error"}}
                   @alertsize={{"small"}}>
          </AuAlert>
        {{/each}}
      </div>
    {{/if}}
    {{!-- NOTE: Children can be property-groups as well as fields --}}
    {{#each this.children as |child index|}}
      {{#unless (is-property-group child.displayType)}}
        <div class="au-u-margin-bottom-small">
          {{component (ensure-safe-component (component-for-display-type child.displayType show=@show))
                      field=child
                      form=@form
                      formStore=@formStore
                      graphs=@graphs
                      sourceNode=@sourceNode
                      forceShowErrors=@forceShowErrors
                      cacheConditionals=@cacheConditionals
                      show=@show
          }}
          <AuHelpText class="au-u-margin-none">{{child.help}}</AuHelpText>
        </div>
      {{else}}
        <PropertyGroup
                @level={{add this.level 1}}
                @form={{@form}}
                @group={{child}}
                @formStore={{@formStore}}
                @graphs={{@graphs}}
                @sourceNode={{@sourceNode}}
                @forceShowErrors={{@forceShowErrors}}
                @cacheConditionals={{@cacheConditionals}}
                @show={{@show}}/>
        {{#if @last}}
          {{#unless (eq index (sub this.children.length 1))}}
            <AuHr @size="large"/>
          {{/unless }}
        {{else}}
          <AuHr @size="large"/>
        {{/if }}
      {{/unless}}
    {{/each}}
  </div>
{{/if}}
