<div class="au-o-grid au-o-grid--small" ...attributes>
  {{#if this.setupRdfForm.isRunning}}
    <AuLoader />
  {{else}}
    {{#each this.topLevelModels as |model|}}
      {{#if (this.isSectionModel model)}}
        <FormSection
          class={{@groupClass}}
          @form={{@form}}
          @section={{model}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{@sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @cacheConditionals={{@cacheConditionals}}
          @last={{this.isLast this.sections model}}
          @show={{@show}}
          @level={{@level}}
          @useNewListingLayout={{@useNewListingLayout}}
          {{!Temporary argument so we don't break the css hacks in the LPDC module}}
        />
      {{/if}}
    {{/each}}
  {{/if}}
</div>