<div class="au-o-grid au-o-grid--flush">
  {{#each this.propertyGroups as |group index|}}
    <PropertyGroup
            class={{@groupClass}}
            @form={{@form}}
            @field={{group}}
            @formStore={{@formStore}}
            @graphs={{@graphs}}
            @sourceNode={{@sourceNode}}
            @forceShowErrors={{@forceShowErrors}}
            @cacheConditionals={{@cacheConditionals}}
            @show={{@show}}/>
  {{/each}}
</div>