<div
  class="au-o-grid au-o-grid--small"
  ...attributes
>
  {{#each this.propertyGroups as |group|}}
    <PropertyGroup
      class={{@groupClass}}
      @form={{@form}}
      @group={{group}}
      @formStore={{@formStore}}
      @graphs={{@graphs}}
      @sourceNode={{@sourceNode}}
      @forceShowErrors={{@forceShowErrors}}
      @cacheConditionals={{@cacheConditionals}}
      @last={{this.isLast this.propertyGroups group}}
      @show={{@show}}
      @level={{@level}}
      @useNewListingLayout={{@useNewListingLayout}} {{!Temporary argument so we don't break the css hacks in the LPDC module}}
    />
  {{/each}}
</div>
