<div class="au-o-grid au-o-grid--small" ...attributes>
  {{#each this.sections as |section|}}
    <Section
      class={{@groupClass}}
      @form={{@form}}
      @section={{section}}
      @formStore={{@formStore}}
      @graphs={{@graphs}}
      @sourceNode={{@sourceNode}}
      @forceShowErrors={{@forceShowErrors}}
      @cacheConditionals={{@cacheConditionals}}
      @last={{this.isLast this.sections section}}
      @show={{@show}}
      @level={{@level}}
      @useNewListingLayout={{@useNewListingLayout}}
      {{!Temporary argument so we don't break the css hacks in the LPDC module}}
    />
  {{/each}}
</div>
