<div class="au-o-grid au-o-grid--small" ...attributes>
  {{#if this.setupRdfForm.isRunning}}
    <AuLoader />
  {{else}}
    {{#each this.topLevelModels as |model|}}
      {{#if (this.isSectionModel model)}}
        <FormSection
          class={{@groupClass}}
          @form={{@form}}
          @section={{model}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{@sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @cacheConditionals={{@cacheConditionals}}
          @last={{this.isLast this.sections model}}
          @show={{@show}}
          @level={{@level}}
          @useNewListingLayout={{@useNewListingLayout}}
          {{!Temporary argument so we don't break the css hacks in the LPDC module}}
        />
      {{/if}}
      {{#if (this.isFieldModel model)}}
        <div
          class="au-o-flow au-u-margin-left au-u-margin-right au-u-margin-top"
        >
          {{#let
            (component-for-display-type model.displayType show=@show)
            as |FormField|
          }}
            <FormField
              @field={{model}}
              @form={{@form}}
              @formStore={{@formStore}}
              @graphs={{@graphs}}
              @sourceNode={{@sourceNode}}
              @forceShowErrors={{@forceShowErrors}}
              @cacheConditionals={{@cacheConditionals}}
              @show={{@show}}
            />
          {{/let}}

          {{#if model.help}}
            {{! template-lint-disable no-triple-curlies}}
            <AuHelpText>{{{model.help}}}</AuHelpText>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>