<AuBodyContainer 
  vocab="{{this.vocab}}" 
  {{did-insert this.setPrefix}}
  typeof="{{@typeOfWrappingDiv}}" 
  property="{{@property}}" 
  resource="#"
>
  <div {{on "focusout" @onBlur}}>
    <Rdfa::RdfaEditor
      @profile={{@profile}}
      @rdfaEditorInit={{this.rdfaEditorInit}}
      @editorOptions={{this.editorOptions}}
      @toolbarOptions={{this.toolbarOptions}}
      @plugins={{this.plugins}}
    />
  </div>
</AuBodyContainer>
