{{#if @useNewListingLayout}}
  <div class="sf-listing-sub-form au-o-box">
    {{#if (or @subForm.itemLabel @canMoveUp @canMoveDown @canRemove)}}
      <AuToolbar @size={{this.size}} as |Group|>
        <Group>
          {{#if (or @canMoveUp @canMoveDown)}}
            <this.OrderButtonGroup
              @canMoveUp={{@canMoveUp}}
              @canMoveDown={{@canMoveDown}}
              @moveUp={{@moveUp}}
              @moveDown={{@moveDown}}
              class="au-u-flex-self-start"
            />
          {{/if}}
          {{#if @subForm.itemLabel}}
            <AuHeading @level={{this.titleLevel}} @skin={{this.titleSkin}}>
              {{@subForm.itemLabel}}
            </AuHeading>
          {{/if}}
        </Group>
        {{#if @canRemove}}
          <Group>
            <AuButton
              @skin="naked"
              @icon="bin"
              @iconAlignment="left"
              @alert={{true}}
              {{on "click" (fn @onRemoveEntry @sourceNode)}}
            >
              {{@subForm.removeLabel}}
            </AuButton>
          </Group>
        {{/if}}
      </AuToolbar>
    {{/if}}

    <div class="au-o-flow">
      {{#each this.sections as |section|}}
        <Section
          @form={{@subForm.uri}}
          @section={{section}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{@sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @cacheConditionals={{@cacheConditionals}}
          @last={{this.isLast this.sections section}}
          @show={{@show}}
          @level={{this.nextLevel}}
          @useNewListingLayout={{true}}
        />
      {{/each}}
    </div>
  </div>
{{else}}
  {{#if @subForm.itemLabel}}
    <div
      class="au-u-margin-bottom-small
        {{if (or @canMoveUp @canMoveDown) 'au-u-flex'}}"
    >
      {{#if (or @canMoveUp @canMoveDown)}}
        <this.OrderButtonGroup
          @canMoveUp={{@canMoveUp}}
          @canMoveDown={{@canMoveDown}}
          @moveUp={{@moveUp}}
          @moveDown={{@moveDown}}
          class="au-u-flex-self-start au-u-margin-right-small"
        />
      {{/if}}
      <AuHeading @level={{this.titleLevel}} @skin={{this.titleSkin}}>
        {{@subForm.itemLabel}}
      </AuHeading>
    </div>
  {{/if}}

  <div class="au-o-grid">
    <div class="au-o-flow au-o-grid__item au-u-4-5">
      {{#each this.sections as |section|}}
        <Section
          @form={{@subForm.uri}}
          @section={{section}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{@sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @cacheConditionals={{@cacheConditionals}}
          @last={{this.isLast this.sections section}}
          @show={{@show}}
          @level={{@level}}
        />
      {{/each}}
    </div>

    {{#if @canRemove}}
      <div class="au-o-grid__item au-u-1-5">
        <AuButton
          @skin="link"
          @icon="bin"
          @iconAlignment="left"
          {{on "click" (fn @onRemoveEntry @sourceNode)}}
        >
          {{@subForm.removeLabel}}
        </AuButton>
      </div>
    {{/if}}
  </div>
{{/if}}
