{{#unless @show}}
  <AuAlert
    @icon="info-circle"
    @title="Gelieve per besluit of besluitenlijst één dossier aan te maken."
    @skin="info"
    @size="small"
  />
{{/unless}}
<div class="au-c-form">
  <ul class="au-o-grid au-o-grid--small">
    {{#each this.fields as |field|}}
      {{#if field.displayType}}
        <li class="au-o-grid__item au-u-1-1">
          {{#let
            (this.componentForDisplayType field.displayType show=@show)
            as |FormField|
          }}
            <FormField
              @field={{field}}
              @formStore={{@formStore}}
              @graphs={{@graphs}}
              @sourceNode={{@sourceNode}}
              @forceShowErrors={{@forceShowErrors}}
              @show={{@show}}
            />

            {{! template-lint-disable simple-unless}}
            {{#unless
              (macroCondition (macroGetOwnConfig "helpTextBelowLabel"))
            }}
              {{#unless @show}}
                {{! template-lint-disable no-triple-curlies}}
                <AuHelpText>{{{field.help}}}</AuHelpText>
              {{/unless}}
            {{/unless}}
          {{/let}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

{{yield}}