<div class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-2@medium au-u-1-2@large">
    <AuAlert @alertsize="small" class="au-u-margin-bottom-large" @alertTitle="Gelieve per besluit of besluitenlijst één dossier aan te maken." @alertskin={{"info"}}>
    </AuAlert>

    <div class="au-c-form" {{did-insert this.loadData}}>
    <ul class="au-o-grid au-o-grid--small">
      {{#each this.fields as |field|}}
          <li class="au-o-grid__item au-u-1-1">
            {{#if @show}}
              {{component (component-for-display-type-show field.displayType)
                          field=field
                          formStore=@formStore
                          graphs=@graphs
                          sourceNode=@sourceNode}}
            {{else}}
              {{component
                (component-for-display-type-edit field.displayType)
                field=field
                formStore=@formStore
                graphs=@graphs
                sourceNode=@sourceNode
                forceShowErrors=@forceShowErrors
              }}
            {{/if}}
          </li>
      {{/each}}
    </ul>
    </div>
  </div>
</div>

{{yield}}
