{{#if @useNewListingLayout}}
  <div class="au-o-flow" ...attributes>
    {{#each @subForms as |subForm index|}}
      {{#let (eq index 0) (this.isLast @subForms subForm) as |isFirst isLast|}}
        <this.SubForm
          @subForm={{subForm}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{subForm.sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @cacheConditionals={{@cacheConditionals}}
          @last={{isLast}}
          @show={{@show}}
          @level={{@level}}
          @onRemoveEntry={{@removeEntry}}
          @canRemove={{@canRemove}}
          @canMoveUp={{and @canChangeOrder (not isFirst)}}
          @canMoveDown={{and @canChangeOrder (not isLast)}}
          @moveUp={{fn @moveUp subForm}}
          @moveDown={{fn @moveDown subForm}}
          @useNewListingLayout={{true}}
        />
      {{/let}}
    {{/each}}

    {{#if @canAdd}}
      <AuButton
        @icon="plus"
        @skin="secondary"
        @width="block"
        @iconAlignment="left"
        @disabled={{@creationFormData}}
        {{on "click" @createEntry}}
      >
        {{@listing.addLabel}}
      </AuButton>
    {{/if}}
  </div>
{{else}}
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-4-5">
      {{#each @subForms as |subForm index|}}
        {{#let
          (eq index 0) (this.isLast @subForms subForm)
          as |isFirst isLast|
        }}
          <this.SubForm
            @subForm={{subForm}}
            @formStore={{@formStore}}
            @graphs={{@graphs}}
            @sourceNode={{subForm.sourceNode}}
            @forceShowErrors={{@forceShowErrors}}
            @cacheConditionals={{@cacheConditionals}}
            @last={{this.isLast @subForms subForm}}
            @show={{@show}}
            @level={{@level}}
            @onRemoveEntry={{@removeEntry}}
            @canRemove={{@canRemove}}
            @canMoveUp={{and @canChangeOrder (not isFirst)}}
            @canMoveDown={{and @canChangeOrder (not isLast)}}
            @moveUp={{fn @moveUp subForm}}
            @moveDown={{fn @moveDown subForm}}
          />
        {{/let}}
      {{/each}}
    </div>
    {{#if @canAdd}}
      <div class="au-o-grid__item au-u-1-5">
        <AuButton
          @icon="plus"
          @iconAlignment="left"
          class="au-u-margin-bottom-tiny"
          @disabled={{@creationFormData}}
          {{on "click" @createEntry}}
        >
          {{@listing.addLabel}}
        </AuButton>
      </div>
    {{/if}}
  </div>
{{/if}}