<div ...attributes>
  <AuTable class="listing-table">
    {{! TODO: Named blocks can't be rendered conditionally yet, so we would have to duplicate the component and all the other blocks as a workaround.
        Since the title is only a "nice to have" we'll disable it for now until a better solution is found.
    }}
    {{!--
    <:title>
      {{this.title}}
    </:title>
    --}}
    <:header>
      {{#if @canChangeOrder}}
        <th></th>
      {{/if}}
      {{#if this.showRowIndex}}
        <th>{{if this.indexLabel this.indexLabel}}</th>
      {{/if}}
      {{#each this.tableHeaders as |column|}}
        <th>
          {{column.label}}

          {{#if column.help}}
            <AuHelpText
              @skin="secondary"
              @size="small"
              class="au-u-margin-top-none au-u-regular"
            >
              {{column.help}}
            </AuHelpText>
          {{/if}}
        </th>
      {{/each}}

      {{#if this.canRemove}}
        <th>{{! delete }}</th>
      {{/if}}
    </:header>
    <:body>
      {{#each @subForms as |subForm index|}}
        {{#let
          (eq index 0) (this.isLast @subForms subForm)
          as |isFirst isLast|
        }}
          <this.ListingTableRow
            @subForm={{subForm}}
            @formStore={{@formStore}}
            @graphs={{@graphs}}
            @sourceNode={{subForm.sourceNode}}
            @forceShowErrors={{@forceShowErrors}}
            @show={{@show}}
            @onRemoveEntry={{@removeEntry}}
            @canRemove={{this.canRemove}}
            @removeLabel={{@listing.removeLabel}}
            @showIndex={{this.showRowIndex}}
            @index={{index}}
            @canMoveUp={{and @canChangeOrder (not isFirst)}}
            @canMoveDown={{and @canChangeOrder (not isLast)}}
            @moveUp={{fn @moveUp subForm}}
            @moveDown={{fn @moveDown subForm}}
          />
        {{/let}}
      {{else}}
        <tr>
          <td colspan="100%">{{@listing.noDataMessage}}</td>
        </tr>
      {{/each}}
    </:body>
  </AuTable>

  {{#if @canAdd}}
    <AuButton
      @icon="plus"
      @iconAlignment="left"
      @skin="secondary"
      @width="block"
      class="au-u-margin-top-small"
      {{on "click" @createEntry}}
    >
      {{@listing.addLabel}}
    </AuButton>
  {{/if}}
</div>