<div ...attributes>
  <AuTable class="listing-table">
    <:title>{{this.title}}</:title>
    <:header>
      {{#if this.showRowIndex}}
        <th>{{if this.indexLabel this.indexLabel}}</th>
      {{/if}}
      {{#each this.tableHeaders as |column|}}
        <th>
          {{column.label}}

          {{#if column.help}}
            <AuHelpText
              @skin="secondary"
              @size="small"
              class="au-u-margin-top-none au-u-regular"
            >
              {{column.help}}
            </AuHelpText>
          {{/if}}
        </th>
      {{/each}}

      {{#if this.canRemove}}
        <th>{{! delete }}</th>
      {{/if}}
    </:header>
    <:body>
      {{#each @subForms as |subForm index|}}
        <this.ListingTableRow
          @subForm={{subForm}}
          @formStore={{@formStore}}
          @graphs={{@graphs}}
          @sourceNode={{subForm.sourceNode}}
          @forceShowErrors={{@forceShowErrors}}
          @show={{@show}}
          @onRemoveEntry={{@removeEntry}}
          @canRemove={{this.canRemove}}
          @removeLabel={{@listing.removeLabel}}
          @showIndex={{this.showRowIndex}}
          @index={{index}}
        />
      {{else}}
        <tr>
          <td colspan="100%">{{@listing.noDataMessage}}</td>
        </tr>
      {{/each}}
    </:body>
  </AuTable>

  {{#if @canAdd}}
    <AuButton
      @icon="plus"
      @iconAlignment="left"
      @skin="secondary"
      @width="block"
      class="au-u-margin-top-small"
      {{on "click" @createEntry}}
    >
      {{@listing.addLabel}}
    </AuButton>
  {{/if}}
</div>