<AuLabel>
  {{@field.label}}
</AuLabel>

{{#if this.files}}
  <ul class="au-o-flow au-o-flow--tiny">
    {{#each this.files as |file|}}
      <li>
        <FileCard
          @filename={{file.filename}}
          @fileSize={{file.humanReadableSize}}
          @downloadLink={{file.downloadLink}}
          data-test-field-uri={{@field.uri.value}}
        />
      </li>
    {{/each}}
  </ul>
{{else}}
  <AuHelpText>Er werden geen bestanden toegevoegd.</AuHelpText>
{{/if}}