{{#if (or this.hasErrors this.hasWarnings this.isRequired)}}
  <div class="au-u-margin-bottom-small">
    {{#if this.hasErrors}}
      <AuBadge @icon="cross" @skin="error" @size="small" />
    {{/if}}
    {{#if this.hasWarnings}}
      <AuBadge @icon="alert-triangle" @skin="warning" @size="small" />
    {{/if}}
    {{#if this.isRequired}}
      <AuPill>Verplicht</AuPill>
    {{/if}}
  </div>
{{/if}}

<this.HelpText @field={{@field}} />

<AuCheckbox
  @checked={{this.value}}
  @disabled={{@show}}
  @onChange={{this.updateValue}}
>
  {{@field.label}}
</AuCheckbox>
{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}
{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}