<AuFieldset
  class={{if
    (and (macroGetOwnConfig "helpTextBelowLabel") @field.help)
    "sf-u-gap-initial"
  }}
  as |f|
>
  <f.legend
    @required={{this.isRequired}}
    @error={{this.hasErrors}}
    @warning={{this.hasWarnings}}
  >
    {{@field.label}}
  </f.legend>
  <f.content>
    <this.HelpText @field={{@field}} />
    <ul>
      {{#each this.options as |option|}}
        <li>
          <AuRadio
            @name={{@field.uri.value}}
            @value={{option.label}}
            @onChange={{fn this.updateValue option}}
            @disabled={{@show}}
            @checked={{eq this.value option.value}}
          >{{option.label}}</AuRadio>
        </li>
      {{/each}}
    </ul>
  </f.content>
</AuFieldset>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}