<AuLabel
  @error={{this.hasErrors}}
  @warnings={{this.hasWarnings}}
  @required={{this.isRequired}}
  for={{this.inputId}}
  class={{if @field.help "au-u-margin-bottom-none"}}
>
  {{@field.label}}
</AuLabel>

<this.HelpText @field={{@field}} />

<div class={{if this.hasErrors "ember-power-select--error"}}>
  <PowerSelectMultiple
    @triggerId={{this.inputId}}
    @search={{perform this.search}}
    @searchField="label"
    @searchPlaceholder="Typ hier om te zoeken..."
    @searchEnabled={{this.searchEnabled}}
    @selected={{this.selected}}
    @options={{this.subset}}
    @onClose={{fn (mut this.hasBeenFocused) true}}
    @onChange={{this.updateSelection}}
    @allowClear={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten gevonden"
    @disabled={{@show}}
    as |concept|
  >
    {{concept.label}}
  </PowerSelectMultiple>
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}