<AuFieldset
  class={{if
    (and (macroGetOwnConfig "helpTextBelowLabel") @field.help)
    "sf-u-gap-initial"
  }}
  as |f|
>
  <f.legend
    @required={{this.isRequired}}
    @requiredLabel={{this.requiredLabel}}
    @error={{this.hasErrors}}
    @warning={{this.hasWarnings}}
  >
    {{@field.label}}
  </f.legend>
  <f.content class="concept-scheme-multi-select-checkboxes__content">
    <this.HelpText @field={{@field}} />
    <div class="au-o-grid au-o-grid--flush">
      {{#each this.options as |option|}}
        <div
          class="au-o-grid__item
            {{if
              this.isColumnLayout
              'au-u-1-1@tiny au-u-1-2@small au-u-1-3@medium'
            }}"
        >
          <AuCheckbox
            @name={{@field.uri.value}}
            @value={{option.label}}
            @onChange={{fn this.updateValue option}}
            @disabled={{@show}}
            @checked={{option.provided}}
          >{{option.label}}</AuCheckbox>
        </div>
      {{/each}}
    </div>
  </f.content>
</AuFieldset>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}