{{#unless @inTable}}
  <AuLabel
    @error={{this.hasErrors}}
    @warning={{this.hasWarnings}}
    @required={{this.isRequired}}
    for={{this.inputId}}
  >
    {{@field.label}}
  </AuLabel>
{{/unless}}

<div class="CurrencyInput">
  <div class="currencySymbolButton">{{this.currencySymbol}}</div>
  <AuInput
    @error={{this.hasErrors}}
    @disabled={{@show}}
    @width={{if @inTable "block"}}
    @warning={{this.hasWarnings}}
    id={{this.inputId}}
    value={{this.value}}
    {{on "blur" this.updateValue}}
    {{au-inputmask
      options=(hash
        alias="currency"
        radixPoint=","
        groupSeparator="."
        allowMinus=true
        inputmode="decimal"
      )
    }}
  />
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}