{{#unless @inTable}}
  <AuLabel
    @error={{this.hasErrors}}
    @warning={{this.hasWarnings}}
    @required={{this.isRequired}}
    for={{this.inputId}}
  >
    {{@field.label}}
  </AuLabel>
{{/unless}}

<div class="currency-input">
  {{! template-lint-disable require-input-label }}
  <input {{did-insert this.setInput}} />
  <div class="currency-input__iso-code">{{this.currencyIsocode}}</div>
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}