<AuLabel>{{@field.label}}</AuLabel>
<AuButtonGroup @inline={{true}}>
  <AuButton
    @skin={{if this.isEnabled "secondary"}}
    @disabled={{@show}}
    class={{unless this.isEnabled "is-active"}}
    {{on "click" this.reset}}
  >
    Alle meldingen
  </AuButton>
  <AuButton
    @skin={{unless this.isEnabled "secondary"}}
    @disabled={{@show}}
    class={{if this.isEnabled "is-active"}}
    {{on "click" this.enable}}
  >
    Specifieke periode
  </AuButton>
</AuButtonGroup>

{{#if this.isEnabled}}
  <div class="au-u-margin-top-small">
    <div class="au-o-grid au-o-grid--tiny">
      <div class="au-o-grid__item au-u-1-5">
        <AuLabel for={{this.inputId}} @inline={{true}}>Van</AuLabel>
      </div>
      <div class="au-o-grid__item au-u-4-5">
        <AuDatePicker
          @id={{this.inputId}}
          @value={{this.from}}
          @onChange={{this.updateFrom}}
          @min="2012-01-01"
          @max="2049-12-31"
          @disabled={{@show}}
          {{! TODO: This uses "private" apis since AuDatePicker doesn't support a blur event yet }}
          {{on "duetBlur" (fn (mut this.hasBeenFocused) true)}}
        />
      </div>

      <div class="au-o-grid__item au-u-1-5">
        <AuLabel for={{this.inputIdTo}} @inline={{true}}>Tot</AuLabel>
      </div>
      <div class="au-o-grid__item au-u-4-5">
        <AuDatePicker
          @id={{this.inputIdTo}}
          @value={{this.to}}
          @onChange={{this.updateTo}}
          @min="2012-01-01"
          @max="2049-12-31"
          @disabled={{@show}}
          {{! TODO: This uses "private" apis since AuDatePicker doesn't support a blur event yet }}
          {{on "duetBlur" (fn (mut this.hasBeenFocused) true)}}
        />
      </div>
    </div>
  </div>
{{/if}}