<AuLabel
  @error={{this.hasErrors}}
  @required={{this.isRequired}}
  for={{this.inputId}}
>
  {{@field.label}}
</AuLabel>
<div class="au-o-grid au-o-grid--flush">
  <div class="au-o-grid__item au-u-3-4">
    <AuDatePicker
      @id={{this.inputId}}
      @error={{this.hasErrors}}
      @value={{this.value}}
      @onChange={{this.updateValue}}
      @localization={{this.localization}}
      @adapter={{this.adapter}}
      @disabled={{@show}}
      {{! TODO: This uses "private" apis since AuDatePicker doesn't support a blur event yet }}
      {{on "duetBlur" (fn (mut this.hasBeenFocused) true)}}
    />

    {{#unless @show}}
      <AuHelpText @error={{this.hasErrors}}>
        Datum formaat: DD.MM.JJJJ
      </AuHelpText>
    {{/unless}}
    {{#each this.errors as |error|}}
      <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
    {{/each}}

    {{!--  Temporally disabled hour & min input fields
    {{#if this.value}}
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel class="{{if this.errors "au-c-label--error"}}" for="{{this.inputId}}-uur">
            Uur
            {{#if this.isRequired}}
              <AuPill>Verplicht</AuPill>
            {{/if}}
          </AuLabel>
          <AuInput class="{{if this.errors
                               "au-c-input--error"}}" {{!-- think of how one label relates to multiple input forms
                   id="{{this.inputId}}-uur"
                   @value={{this.hour}}
                   @type="number"
                   @min="0"
                   @max="23"
                   @type="number"
            {{on "blur" this.updateValue}} />
        </div>
        <div class="au-o-grid__item au-u-1-2">
          <AuLabel class="{{if this.errors "au-c-label--error"}}" for="{{this.inputId}}-minuten">
            Minuten
            {{#if this.isRequired}}
              <AuPill>Verplicht</AuPill>
            {{/if}}
          </AuLabel>
          <AuInput class="{{if this.errors
                               "au-c-input--error"}}" {{!-- think of how one label relates to multiple input forms
                   id="{{this.inputId}}-minuten"
                   @value={{this.minutes}}
                   @type="number"
                   @min="0"
                   @max="59"
                   @type="number"
            {{on "blur" this.updateValue}} />
        </div>
      </div>
    {{/if}}
    --}}
  </div>
</div>