<AuLabel
  @error={{this.hasErrors}}
  @required={{this.isRequired}}
  @warning={{this.hasWarnings}}
  for={{this.inputId}}
  class={{if @field.help "au-u-margin-bottom-none"}}
>
  {{@field.label}}
</AuLabel>

<this.HelpText @field={{@field}} />

{{#unless @show}}
  <AuHelpText
    @error={{this.hasErrors}}
    class="au-u-margin-top-none au-u-margin-bottom-tiny"
  >
    Datum formaat: DD-MM-JJJJ
  </AuHelpText>
{{/unless}}

<div class="au-o-grid au-o-grid--flush">
  <div class="au-o-grid__item au-u-3-4">
    <AuDatePicker
      @id={{this.inputId}}
      @error={{this.hasErrors}}
      @value={{this.value}}
      @onChange={{this.updateValue}}
      @disabled={{@show}}
      {{! TODO: This uses "private" apis since AuDatePicker doesn't support a blur event yet }}
      {{on "duetBlur" (fn (mut this.hasBeenFocused) true)}}
    />
  </div>
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}