<div class="au-u-flex au-u-flex--between">
  <AuLabel
    @error={{this.hasErrors}}
    @required={{this.isRequired}}
    @requiredLabel={{if this.containsRemoteUrls "Enkel indien geen links"}}
    @warning={{this.hasWarnings}}
    for={{this.inputId}}
    class="au-u-margin-bottom-none"
  >
    {{@field.label}}
  </AuLabel>

  {{#if this.canDownloadZip}}
    <AuButton
      @skin="secondary"
      @loading={{this.downloadAsZip.isRunning}}
      @loadingMessage=".zip aan het genereren"
      {{on "click" this.downloadAsZip.perform}}
    >
      Download alle bestanden als .zip
    </AuButton>
  {{/if}}
</div>
<this.HelpText @field={{@field}} />

{{#if this.loadProvidedValue.isIdle}}
  {{#if this.files}}
    <ul class="au-o-flow au-o-flow--tiny au-u-margin-bottom-small">
      {{#each this.files as |fileField|}}
        {{#if fileField.record}}
          {{#let fileField.record as |file|}}
            <li>
              <AuFileCard
                @filename={{file.filename}}
                @fileSize={{file.humanReadableSize}}
                @downloadLink={{file.downloadLink}}
                @onDelete={{unless @show (fn this.removeFile file)}}
                class="sf-files-card {{if @show 'sf-files-card--small'}}"
              />
            </li>
          {{/let}}
          {{!-- {{else}} --}}
          {{! TODO: Something went wrong when fetching the file }}
        {{/if}}
      {{/each}}
    </ul>
  {{else if @show}}
    <AuHelpText>Er werden geen bestanden toegevoegd.</AuHelpText>
  {{/if}}

  {{#unless @show}}
    {{! The id can't be added to the AuFileUpload component since it will be passed to the inner FileUpload component.
  That causes issues because it looks up its own element using `this.elementId` which won't work if we set a custom id. }}
    <div id={{this.inputId}}>
      <AuFileUpload
        @onFinishUpload={{this.addFile}}
        @maxFileSizeMB="1024"
        data-test-field-uri={{@field.uri.value}}
        class="{{if this.errors 'upload--error'}}"
      />
    </div>

    {{#each this.errors as |error|}}
      <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
    {{/each}}

    {{#each this.warnings as |warning|}}
      <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
    {{/each}}
  {{/unless}}
{{else}}
  <AuLoader @centered={{false}} @hideMessage={{true}}>Bestanden aan het laden</AuLoader>
{{/if}}