{{#unless @inTable}}
  <AuLabel
    @error={{this.hasErrors}}
    @required={{this.isRequired}}
    @warning={{this.hasWarnings}}
    for={{this.inputId}}
  >
    {{@field.label}}
  </AuLabel>
{{/unless}}

<div>
  <AuInput
    @error={{this.hasErrors}}
    @disabled={{@show}}
    @width={{if @inTable "block"}}
    @warning={{this.hasWarnings}}
    id={{this.inputId}}
    lang="nl-BE"
    type="number"
    value={{this.value}}
    {{on "change" this.updateValue}}
  />
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{#each this.warnings as |warning|}}
  <AuHelpText @warning={{true}}>{{warning.resultMessage}}</AuHelpText>
{{/each}}