<AuLabel
  @error={{this.hasErrors}}
  @required={{this.isRequired}}
  for={{this.inputId}}
>
  {{@field.label}}
</AuLabel>

{{#if @field.description}}
  <p class="au-u-light au-u-margin-bottom-tiny">{{@field.description}}</p>
{{/if}}

<AuBodyContainer 
  vocab="{{this.vocab}}" 
  {{did-insert this.setPrefix}}
  typeof="{{this.typeOfWrappingDiv}}" 
  property="{{this.property}}" 
  resource="#"
>
  <div {{on "focusout" @onBlur}} class="au-c-body-container " vocab="http://data.vlaanderen.be/ns/besluit#" typeof="besluit:BehandelingVanAgendapunt" resource="#" prefix="eli: http://data.europa.eu/eli/ontology# prov: http://www.w3.org/ns/prov# mandaat: http://data.vlaanderen.be/ns/mandaat# besluit: http://data.vlaanderen.be/ns/besluit# ext: http://mu.semte.ch/vocabularies/ext/ person: http://www.w3.org/ns/person# persoon: http://data.vlaanderen.be/ns/persoon# dateplugin: http://say.data.gift/manipulators/insertion/ besluittype: https://data.vlaanderen.be/id/concept/BesluitType/ dct: http://purl.org/dc/terms/ mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# lblodmow: http://data.lblod.info/vocabularies/mobiliteit/">
    <Rdfa::RdfaEditor
      class="au-c-rdfa-editor"
      @profile={{this.profile}}
      @rdfaEditorInit={{this.handleRdfaEditorInit}}
      @editorOptions={{this.editorOptions}}
      @toolbarOptions={{this.toolbarOptions}}
      @plugins={{this.plugins}}
    />
  </div>
</AuBodyContainer>
{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}} 