{{!--
<h3 class="au-u-h5">Hieronder vind je alle acties die gesubsidieerd worden door het Plan Samenleven.</h3>
<ul>
  <li class="au-c-help-text">- Geef in de tweede kolom aan wat het huidige bereik is voor deze actie (zonder middelen van het Plan Samenleven). Dit moet enkel ingevuld worden als jullie ook bijkomende middelen hiervoor inzetten.</li>
  <li class="au-c-help-text">- Geef in de derde kolom aan welke bijkomende doelstellingen jullie bestuur wenst te realiseren voor het Plan Samenleven. Enkel deze bijkomende acties komen in aanmerking voor subsidiering door de Vlaamse overheid.</li>
  <li class="au-c-help-text">- In de vierde kolom ziet u het bedrag dat in aanmerking komt voor subsidiering door de Vlaamse overheid. Er wordt verwacht dat het bestuur voor deze acties evenveel financiert.</li>
  <li class="au-c-help-text">- Geef in de vierde kolom aan de hand van cijfers aan wat de prioriteit is per actie waarop het bestuur bijkomend inzet. Wanneer er niet voldoende middelen zijn, zal de Vlaamse overheid aan de hand van deze prioritering bepalen naar welke acties de subsidies gaan. Wanneer jullie bestuur intekent voor bv. 5 acties, dan moeten de nummer 1 t.e.m. 5 verdeeld worden over deze acties.</li>
</ul> --}}


<AuLabel class="{{if this.errors " au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
</AuLabel>
{{#each this.errors as |error|}}
    <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
{{/each}}

<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <caption class="au-u-hidden-visually">Algemene beleidsdoelstellingen</caption>
  <thead>
    <tr>
      <th scope="col">
        Vlaamse doelstellingen Plan Samenleven
      </th>
      <th scope="col">
        Jullie huidige gemeentelijk bereik <br>
        <span class="au-u-regular">(enkel invullen als jullie bijkomende acties doen)</span>
      </th>
      <th scope="col">
        Jullie gepland bereik in kader van het Plan Samenleven
      </th>
      <th scope="col">
        Bijdrage Vlaanderen
        <span class="au-u-regular">(er wordt verwacht dat het bestuur hetzelfde bedrag bijdraagt)</span>
      </th>
      <th scope="col">
        Prioritering
        <span class="au-u-regular">(iedere doelstelling moet een aparte prioriteit hebben: 1, 2, 3 ...)</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/7f7f1d20-942d-48ac-85a0-748db7f3d835"
      @rangeLabel="lokaal actieplan"
      @maxRange="1"
      @multiplier="12500"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Veiligheid en leefbaarheid:
        </AuHeading>
        <p>
          Ontwikkelen van een lokaal actieplan voor de aanpak van negatieve polarisatie en zetten in op de uitrol ervan.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="volwassen anderstaligen"
      @maxRange="2250"
      @multiplier="60"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Nederlands
        </AuHeading>
        <p>
          Volwassen anderstaligen nemen deel aan een oefenkans.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="begeleide personen"
      @maxRange="23"
      @multiplier="600"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Competenties
        </AuHeading>
        <p>
          Begeleiden van personen met een diploma van buiten de EU naar verkorte opleidingstrajecten.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="kwetsbare kinderen"
      @maxRange="150"
      @multiplier="650"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Competenties
        </AuHeading>
        <p>
          Begeleiden van kwetsbare kinderen in het secundair onderwijs naar hogere studies.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="ongekwalificeerde uitstromers"
      @maxRange="150"
      @multiplier="650"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Competenties
        </AuHeading>
        <p>
          Begeleiden van ongekwalificeerde uitstromers naar een kwalificerend traject.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="begeleide nieuwkomers"
      @maxRange="150"
      @multiplier="650"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Werk
        </AuHeading>
        <p>
          Begeleiden van nieuwkomers, mensen met een handicap en 55plussers naar de arbeidsmarkt.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="personen met een handicap"
      @maxRange="38"
      @multiplier="650"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="55-plussers"
      @maxRange="75"
      @multiplier="650"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="begeleide nieuwkomers"
      @maxRange="75"
      @multiplier="650"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Werk
        </AuHeading>
        <p>
          Begeleiden van nieuwkomers, vrouwen en personen met een handicap naar ondernemerschap
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="vrouwen"
      @maxRange="30"
      @multiplier="650"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="personen met een handicap"
      @maxRange="15"
      @multiplier="650"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="begeleide personen van buitenlandse herkomst"
      @maxRange="300"
      @multiplier="320"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Werk
        </AuHeading>
        <p>
          Inzet van mentoren die jonge personen van buitenlandse herkomst begeleiden naar werk.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren van buitenlandse herkomst"
      @maxRange="150"
      @multiplier="210"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Netwerk
        </AuHeading>
        <p>
          Jongeren van buitenlandse herkomst en jongeren met een handicap in contact brengen met sport.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="personen met een handicap"
      @maxRange="30"
      @multiplier="210"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="kwetbare jongeren"
      @maxRange="180"
      @multiplier="210"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Netwerk
        </AuHeading>
        <p>
          Kwetsbare jongeren in contact brengen met opleidingen, stages, jobs en ondernemerschap
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="kwetsbare gezinnen"
      @maxRange="300"
      @multiplier="320"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Netwerk
        </AuHeading>
        <p>
          Inzetten van brugfiguren die de brug maken tussen kwetsbare gezinnen en onderwijs.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="lokaal actieplan"
      @maxRange="1"
      @multiplier="25000"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Ontwikkelen van lokale actieplannen voor de aanpak van straatintimidatie en de uitrol ervan.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="gevormde professionals"
      @maxRange="150"
      @multiplier="90"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Vormen van professionals en burgers volgens het omstaanders-principe
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="gevormde burgers"
      @maxRange="150"
      @multiplier="90"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="lokaal actieplan"
      @maxRange="1"
      @multiplier="25000"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Ontwikkelen van lokale actieplannen voor de toegankelijkheid van publieke gebouwen en de uitrol ervan.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="bestuur dat correspondentietesten inzet"
      @maxRange="1"
      @multiplier="25000"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          Non-discriminatie
        </AuHeading>
        <p>
          Inzetten van correspondentietesten om discriminatie te meten
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="begeleide gezinnen"
      @maxRange="300"
      @multiplier="170"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Begeleiden van gezinnen om de sociale mix in scholen te bevorderen
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren van buitenlandse herkomst"
      @maxRange="15"
      @multiplier="650"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Begeleiden van jongeren van buitenlandse herkomst en personen met een handicap tot een lerarenopleiding.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren met een handicap"
      @maxRange="8"
      @multiplier="650"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="pleinmakers"
      @maxRange="4"
      @multiplier="5800"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Inzetten van pleinmakers in sociale woonwijken om het sociaal weefsel te versterken.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren van buitenlandse herkomst "
      @maxRange="150"
      @multiplier="210"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Jongeren van buitenlandse herkomst en jongeren met een handicap in contact brengen met jeugdwerk.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren met een handicap"
      @maxRange="30"
      @multiplier="210"
      @onUpdateRow={{this.validate}}
    />
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren van buitenlandse herkomst "
      @maxRange="150"
      @multiplier="210"
      @onUpdateRow={{this.validate}}

      as |row|>
      <row.description>
        <AuHeading  @level="2" @skin="6">
          1 gemeenschap
        </AuHeading>
        <p>
          Jongeren van buitenlandse herkomst en jongeren met een handicap in contact brengen met cultuur.
        </p>
      </row.description>
    </CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow>
    <CustomSubsidyFormFields::PlanLivingTogetherTable::TableRow
      @storeOptions={{this.storeOptions}}
      @planTableSubject={{this.planTableSubject}}
      @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6352c629-814e-4315-88de-6a4b530a44d3"
      @rangeLabel="jongeren met een handicap"
      @maxRange="30"
      @multiplier="210"
      @onUpdateRow={{this.validate}}
    />
  </tbody>
</table>