<tr>
  <th scope="row" class="au-u-regular">
    {{yield (hash description = (component 'custom-subsidy-form-fields/plan-living-together-table/table-cell-data')) }}
  </th>
  <td>
    <AuInput
      disabled={{@disabled}}
      type="number"
      lang="nl-BE"
      @width="block"
      @value={{this.currentRange}}
      @error={{if this.currentRangeErrors true false}}
      {{on "blur" this.update}}
    />
    lokaal actieplan

    {{#each this.currentRangeErrors as |error|}}
      <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td>
    <AuInput
      disabled={{@disabled}}
      type="number"
      lang="nl-BE"
      @width="block"
      @value={{this.plannedRange}}
      @error={{if this.plannedRangeErrors true false}}
      {{on "blur" this.update}}
    />
    lokaal actieplan (max. 1)

    {{#each this.plannedRangeErrors as |error|}}
      <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td>
    {{convert-to-currency this.contribution}}
  </td>
  <td>
    <AuInput
      disabled={{@disabled}}
      type="number"
      lang="nl-BE"
      @width="block"
      @value={{this.priority}}
      @error={{if this.priorityErrors true false}}
      {{on "blur" this.update}}
    />

    {{#each this.priorityErrors as |error|}}
      <AuHelpText @error={{true}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
</tr>
