<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputId}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<ul id={{this.inputId}}>
  {{#each this.options as |option|}}
    <li>
      <AuControlRadio @identifier="{{@field.uri}}/<{{option.value}}"
                      @name={{@field.uri.value}}
                      @label={{option.label}}
                      @value={{option.label}}
                      checked={{if (eq this.value option.value) true false}}
                      onclick={{fn this.updateValue option}}/>
    </li>
  {{/each}}
</ul>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

