<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputId}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<div class="au-o-flow--tiny au-u-margin-bottom">
  {{#each this.options as |option|}}
    <label class="radio au-c-input--block">
      <input type="radio"
             class="radio__toggle"
             name={{@field.uri}}
             checked={{if (eq this.value option.value) true false}}
        {{on 'click' (fn this.updateValue option)}}>
      <span></span>
      {{option.label}}
    </label>
  {{/each}}
</div>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

