{{! TODO Use a <fieldset> and <legend> combo to group radio buttons
    More information: https://github.com/appuniversum/ember-appuniversum/issues/210
}}
<AuLabel
  @error={{this.hasErrors}}
  @required={{this.isRequired}}
  for={{this.inputId}}
>
  {{@field.label}}
</AuLabel>
<ul id={{this.inputId}}>
  {{#each this.options as |option|}}
    <li>
      <AuControlRadio
        @identifier="{{@field.uri}}/<{{option.value}}"
        @name={{@field.uri.value}}
        @label={{option.label}}
        @value={{option.label}}
        @onChange={{fn this.updateValue option}}
        checked={{eq this.value option.value}}
      />
    </li>
  {{/each}}
</ul>

{{#each this.errors as |error|}}
  <AuHelpText @error={{true}}>{{error.resultMessage}}</AuHelpText>
{{/each}}