<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputId}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<ul>
  {{#each this.options as |option|}}
    <li>
      <AuControlRadio @label={{option.label}}
                      @name={{@field.uri}}
                      @identifier={{this.inputId}}
                      @checked={{if (eq this.value option.value) true false}}
                      @value={{option}}
        {{on 'click' (fn this.updateValue option)}}/>
    </li>
  {{/each}}
</ul>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

