<AuLabel for={{this.inputId}}>
  {{@field.label}}
</AuLabel>
<ul id={{this.inputId}}>
  {{#each this.options as |option|}}
    <li>
      <AuControlRadio
        @identifier="{{@field.uri}}/<{{option.value}}"
        @name={{@field.uri.value}}
        @label={{option.label}}
        @value={{option.label}}
        @disabled={{true}}
        checked={{eq this.value option.value}}
      />
    </li>
  {{/each}}
</ul>