<AuLabel>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
{{#if this.showDifferentiatie}}
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-1">
      <Input @type="checkbox" name="checkbox" @checked={{this.differentiatie}} class="checkbox__toggle" {{on "keydown" this.toggleDifferentiatie}} />
      <WuCheckbox @checked={{this.differentiatie}} @onClick={{this.toggleDifferentiatie}} aria-labelledby="description-checkbox-differentiatie"/>
      <AuLabel id="description-checkbox-differentiatie">
        Vink aan indien er sprake is van differentiatie
      </AuLabel> {{!-- setting ID's (to link the label to the input field) does not work with checkboxes --}}
    </div>
  </div>
{{else}}
  <AuHelpText>
    Er kan geen sprake zijn van differentiatie wanneer er bedragen worden ingevuld. <br/>
    Klik 'verwijder' als u deze wel wenst in te geven.
  </AuHelpText>
{{/if}}

<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small {{if this.errors "data-table--error"}}"> {{!-- This error does not seem to work? --}}
  <thead>
  <tr>
    <th>Bedrag</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  {{#if this.showTable}}
    {{#each this.fields as |field|}}
      <tr>
        <td>
          <AuInput
                  class="{{if field.errors "au-c-input--error"}}"
                  @width={{"block"}}
                  @value={{field.value}}
            {{on "blur" (fn this.updatePrice field)}}
          />
          <div>
            {{#each field.errors as |error|}}
              <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
            {{/each}}
          </div>
        </td>
        <td>
          <AuButton @skin="tertiary" class="au-u-margin-bottom-tiny"
            {{on "click" (fn this.removePrice field)}}>
            <AuIcon @icon="bin" @alignment="left" />
            Verwijder
          </AuButton>
        </td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="5" class="data-table__add-row u-align-center">
        <AuButton class="au-u-margin-bottom-tiny au-u-margin-top-tiny" {{on "click" this.addPrice}}>
          <i class="vi vi-plus vi-u-xs au-u-margin-right-tiny" aria-hidden="true"></i>Voeg bedrag opcentiem toe
        </AuButton>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5" class="data-table__add-row u-align-center">
        <AuHelpText>Indien er sprake is van differentiatie, hoeft het bedrag niet ingevuld te worden.</AuHelpText>
      </td>
    </tr>
  {{/if}}
  </tbody>
</table>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

{{!-- suggestion for error: <AuHelpText @error={{"error"}}>Voeg opcentiemen in of geef differentiatie aan.</AuHelpText> --}}
{{yield}}
