<AuLabel @error={{this.hasErrors}} for={{this.inputId}}>
  {{@field.label}}
</AuLabel>
<AuInput
  @disabled={{true}}
  @width="block"
  id={{this.inputId}}
  value={{this.value}}
/>
{{!-- for now this is hardcoded --}}
<a href="/help#help-zoekresultaten" class="au-c-link" target="_blank" rel="noopener noreferrer">
  <AuIcon @icon="info-circle" @alignment="left"/>
  Waarom zijn mijn zoekresultaten onvolledig?
</a>