<div class="au-o-grid au-o-grid--flush">
  <div class="au-o-grid__item au-u-1-2">
    <AuLabel class="{{if this.errors "au-c-label--error" ""}}"
      {{did-insert this.loadData}}
      {{did-update this.loadData @forceShowErrors}}
      for={{this.inputId}}>
      {{@field.label}}
    </AuLabel>
  </div>
  <div class="au-o-grid__item au-u-1-2 au-u-text-right">
    {{#if this.isRequired}}
      <AuPill>Verplicht</AuPill>
    {{/if}}
  </div>
</div>
<AuInput
        class="{{if this.errors "au-c-input--error" ""}}  {{if this.save.isRunning "au-c-input--disabled"}} {{if this.submit.isRunning "au-c-input--disabled"}} {{if this.delete.isRunning "au-c-input--disabled"}}"
        id="{{this.inputId}}"
        @width={{"block"}}
        @value={{this.value}}
  {{on "blur" this.updateValue}}
/>

{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}
