<AuLabel>
  {{@field.label}}
</AuLabel>

{{#if this.showDifferentiatie}}
  <AuControlCheckbox
    @label="Vink aan indien er sprake is van differentiatie"
    @disabled={{true}}
    checked={{this.differentiatie}}
  />
{{else}}
  <AuHelpText>Geen differentiatie opgegeven.</AuHelpText>
{{/if}}

{{#if this.showTable}}
  <div class="au-u-margin-top-small">
    <AuTable>
      <:header>
        <tr>
          <th id={{this.amountColumnId}}>Bedrag</th>
        </tr>
      </:header>
      <:body>
        {{#each this.fields as |field|}}
          <tr>
            <td>
              <AuInput
                @width="block"
                @value={{field.value}}
                @disabled={{true}}
                aria-labelledby={{this.amountColumnId}}
              />
            </td>
          </tr>
        {{/each}}

        {{#if this.differentiatie}}
          <tr>
            <td>
              <AuHelpText class="au-u-text-center">
                Er is sprake van differentiatie, daarom is er geen bedrag
                zichtbaar.
              </AuHelpText>
            </td>
          </tr>
        {{/if}}
      </:body>
    </AuTable>
  </div>
{{/if}}