<AuLabel class="{{if this.errors "au-c-label--error"}}" for={{this.inputId}}>
  {{@field.label}}
  {{#if this.isRequired}}
    <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel> {{!-- setting ID's (to link the label to the input field) does not work with the datepicker plugin --}}
<div class="au-o-grid au-o-grid--flush">
  <div class="au-o-grid__item au-u-3-4">
    <div class="au-c-date-picker-container {{if this.errors "au-c-date-picker-container--error"}}">
      <div class="datepicker">
        <WuDatepickerInput
                id="{{this.inputId}}"
                class="au-c-input au-c-input--block"
                @dateFormat="DD.MM.YYYY"
                @onChange={{this.updateValue}}
                @rawValue={{this.value}}
        />
      </div>
    </div>
  </div>
</div>

<AuHelpText class="{{if this.errors "au-c-help-text--error"}}">Datum formaat: DD.MM.JJJJ</AuHelpText>
{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

