<div class="au-o-grid au-o-grid--flush au-u-margin-bottom-tiny">
  <div class="au-o-grid__item au-u-1-2">
    <AuLabel {{did-insert this.loadData}} for={{this.inputId}}>{{@field.label}}</AuLabel> {{!-- setting ID's (to link the label to the input field) does not work with the datepicker plugin --}}
    {{#if this.isRequired}}
      <AuPill>Verplicht</AuPill>
    {{/if}}
  </div>
</div>
<WuDatepicker
  id="{{this.inputId}}"
  @tagName="div"
  @dateFormat="DD.MM.YYYY"
  @onChange={{this.updateValue}}
  @value={{this.value}}
/>

<AuHelpText class="{{if this.errors "au-c-help-text--error" ""}}">Datum formaat: DD.MM.JJJJ</AuHelpText>
{{#each this.errors as |error|}}
  <AuHelpText @error={{"error"}}>{{error.resultMessage}}</AuHelpText>
{{/each}}

