{{page-title "Dynamic form fields"}}

<AuApp>
  <AuMainHeader @homeRoute="index" @appTitle="Dynamic form fields" />
  <AuMainContainer as |m|>
    <m.sidebar>
      <div class="au-c-sidebar">
        <div class="au-c-sidebar__content">
          <nav>
            <ul class="au-c-list-navigation">
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="basic-fields">
                  Basic form fields
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="validations-on-fields">
                  Basic form fields with validations
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="dynamic-behaviour">
                  Dynamic behaviour
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="sub-forms">
                  Sub Forms
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="scoped-fields">
                  Scoped Fields
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="generators">
                  Generators
                </AuNavigationLink>
              </li>

              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="besluitenlijst">
                  Besluitenlijst
                </AuNavigationLink>
              </li>

              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="sub-forms-focus-crud">
                  Subforms (focus CRUD)
                </AuNavigationLink>
              </li>

              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="lang-strings">
                  Language string support
                </AuNavigationLink>
              </li>

              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="tables">
                  Tables
                </AuNavigationLink>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </m.sidebar>
    <m.content @scroll={{false}}>
      <AuBodyContainer @scroll={{false}}>
        <AuToolbar @border="bottom" @size="small" @skin="tint" as |Group|>
          <Group>
            <AuToggleSwitch
              @checked={{this.formConfig.isReadOnly}}
              @onChange={{fn (mut this.formConfig.isReadOnly)}}
            >Read-only mode</AuToggleSwitch>
          </Group>
        </AuToolbar>
        <AuBodyContainer @scroll={{true}}>
          <div class="au-o-box au-o-box--large au-u-2-3@medium au-u-1-1">
            {{outlet}}
          </div>
        </AuBodyContainer>
      </AuBodyContainer>
    </m.content>
  </AuMainContainer>
</AuApp>
