{{page-title "Dynamic form fields"}}

<AuApp>
  <AuMainHeader @homeRoute="index" @appTitle="Dynamic form fields" />
  <AuMainContainer as |m|>
    <m.sidebar>
      <div class="au-c-sidebar">
        <div class="au-c-sidebar__content">
          <nav>
            <ul class="au-c-list-navigation">
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="basic-fields">
                  Basic form fields
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="dynamic-behaviour">
                  Dynamic behaviour
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="sub-forms">
                  Sub Forms
                </AuNavigationLink>
              </li>
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @route="form" @model="scoped-fields">
                  Scoped Fields
                </AuNavigationLink>
              </li>
              <li
                class="au-c-list-navigation__item au-c-list-navigation__item--section"
              >
                <h2 class="au-c-list-navigation__section-title">
                  Custom form fields
                </h2>
                <ul class="au-c-list-navigation">
                  <li class="au-c-list-navigation__item">
                    <AuNavigationLink
                      @route="form"
                      @model="climate-subsidy-costs-table"
                    >
                      Climate subsidy costs table
                    </AuNavigationLink>
                  </li>
                  <li class="au-c-list-navigation__item">
                    <AuNavigationLink
                      @route="form"
                      @model="plan-living-together"
                    >
                      Plan living together table
                    </AuNavigationLink>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </m.sidebar>
    <m.content @scroll={{false}}>
      <AuBodyContainer @scroll={{false}}>
        <AuToolbar @border="bottom" @size="small" @skin="tint">
          <AuToolbarGroup>
            <AuToggleSwitch
              @label="Read only mode"
              @checked={{this.formConfig.isReadOnly}}
              @onChange={{fn (mut this.formConfig.isReadOnly)}}
            />
          </AuToolbarGroup>
        </AuToolbar>
        <AuBodyContainer @scroll={{true}}>
          <div class="au-o-box au-o-box--large au-u-2-3@medium au-u-1-1">
            {{outlet}}
          </div>
        </AuBodyContainer>
      </AuBodyContainer>
    </m.content>
  </AuMainContainer>
</AuApp>
