{{page-title @model.title}}

<TestForm
  @form={{@model.form}}
  @formStore={{@model.formStore}}
  @graphs={{@model.graphs}}
  @sourceNode={{@model.sourceNode}}
  @forceShowErrors={{this.forceShowErrors}}
/>

<AuHr />

<AuButton
  {{on "click" this.validate}}>
  validate
</AuButton>


<AuHeading
  @level={{1}}
  @skin={{3}}
>
  Data
</AuHeading>
<AuTable
  @size="large"
>
  <:title>Test</:title>
  <:header>
  <tr>
    <th>Subject</th>
    <th>Predicate</th>
    <th>Object</th>
  </tr>
  </:header>
  <:body>
  {{#each this.datasetTriples as |triple|}}
    <tr>
      <td>{{triple.subject}}</td>
      <td>{{triple.predicate}}</td>
      <td>{{triple.object}}
        {{#if (eq triple.object.datatype.value "http://www.w3.org/1999/02/22-rdf-syntax-ns#langString")}}
          @{{triple.object.language}}
        {{else}}
          {{#if triple.object.datatype.value}}
            ^^{{triple.object.datatype}}
          {{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </:body>
</AuTable>
