<AuLabel class="{{if this.errors " au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
  {{#if this.isRequired}}
  <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <thead>
    <tr>
      <th>
        Omschrijving actie
      </th>
      <th>
        Kost van één eenheid
      </th>
      <th>
        Ingezet bedrag per actie (in euro)
      </th>
      <th>
        Terruggave via trekkingsrecht (50%)
      </th>
      <th>
        Te realiseren eenheden
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if climateTableSubject}}

      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/396fe1bd-0a13-4823-8824-05ea3a527337"
        @climateTableSubject={{this.climateTableSubject}}
        @costPerUnit={{13.50}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label "> Werf 1 - Vergroening:</label>
          Investeringssteun voor het planten van hagen (per meter) op publiek domein
        </row.actionDescription>
        <row.costPerUnitDescription>
          13,50 €
        </row.costPerUnitDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/75ad483c-b7cb-411c-b9b1-07af31bfc0e6"
        @climateTableSubject={{this.climateTableSubject}}
        @costPerUnit={{5.0}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label "> Werf 1 - Vergroening:</label>
          Investeringssteun voor het planten van hagen (per meter) op privaat domein (door particulieren, verenigingen, KMO's)
        </row.actionDescription>
        <row.costPerUnitDescription>
          € 5,0
        </row.costPerUnitDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/75b3a2d2-bf33-49e7-9ced-c166213970bb"
        @climateTableSubject={{this.climateTableSubject}}
        @costPerUnit={{38.50}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label "> Werf 1 - Vergroening:</label>
          Investeringssteun geveltuinbeplanting (type geveltuin, per meter) door particulieren
        </row.actionDescription>
        <row.costPerUnitDescription>
          € 38,50
        </row.costPerUnitDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/567c8492-c587-4876-b910-f6bbcd25c971"
        @climateTableSubject={{this.climateTableSubject}}
        @costPerUnit={{540.00}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label "> Werf 1 - Vergroening:</label>
          Investeringssteun aanleg natuurgroenperk van minimaal 10m2 op openbaar toegankelijk domein
        </row.actionDescription>
        <row.costPerUnitDescription>
          € 540,00
        </row.costPerUnitDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf>

      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/0eb27f0d-bbe3-41c1-8793-b1b13b1b8715"
        @climateTableSubject={{this.climateTableSubject}}
        @costPerUnit={{75.00}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label "> Werf 2 - Verrijk je wijk</label>
          Ondersteuning traject collectieve renovaties (per wooneenheid)
        </row.actionDescription>
        <row.costPerUnitDescription>
          € 75.00
        </row.costPerUnitDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowWerf>

    {{/if}}
  </tbody>
</table>

{{yield}}
