<AuLabel class="{{if this.errors " au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
  {{#if this.isRequired}}
  <AuPill>Verplicht</AuPill>
  {{/if}}
</AuLabel>
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <thead>
    <tr>
      <th>
        Omschrijving actie
      </th>
      <th>
        Kost van één eenheid
      </th>
      <th>
        Ingezet bedrag per actie (in euro)
      </th>
      <th>
        Terruggave via trekkingsrecht (50%)
      </th>
      <th>
        Te realiseren eenheden
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.entries as |row|}}

        <tr>
          <td>
            <strong>{{row.description.type}}</strong><br>
            {{row.description.label}}
          </td>
          <td>
            {{row.cost}}
          </td>
          <td>
            {{row.index}}
          </td>
          <td>
            {{row.index}}
          </td>
          <td>
            {{row.index}}
          </td>
        </tr>
    {{/each}}
  </tbody>
</table>

{{yield}}