<ul class="au-o-grid">
  <li class="au-o-grid__item au-u-1-2 au-u-1-6@medium">
    <label class="au-c-label "> Aantal inwoners</label>
    <p>100.343</p>
  </li>
  <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        <label class="au-c-label "> Totaal terugtrekkingsrecht</label>
        <p>{{convert-to-currency this.totalRestitution}}</p>
      </li>
      <li class="au-o-grid__item au-u-1-2 au-u-2-6@medium">
        <label class="au-c-label ">Terugtrekkingsrecht te verdelen </label>
        <p style="{{if this.errors 'color:#D92626'}}">{{convert-to-currency this.restitutionToDestribute}}</p>
      </li>
</ul>
<br>
<br>
<AuLabel class="{{if this.errors " au-c-label--error"}}" for={{this.inputFor}}>
  {{@field.label}}
</AuLabel>
{{#each this.errors as |error|}}
    <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
{{/each}}
<table class="data-table data-table--zebra data-table--tight au-u-margin-top-small">
  <thead>
    <tr>
      <th>
        Omschrijving actie
      </th>
      <th>
        Forfaitaire waarde per items
      </th>
      <th>
        Te realiseren items
      </th>
      <th>
        Ingeschatte waarde
      </th>
      <th>
        Te verkrijgen subsidie (50%)
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if this.climateTableSubject}}
      <!--- TODO: fix population count-->
      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowBurgemeesters
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/0f4e3cff-4fb8-4892-9dca-1d582a433c77"
        @climateTableSubject={{this.climateTableSubject}}
        @populationCount={{this.populationCount}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label ">Algemene beleidsdoelstellingen:</label>
          Opmaak, uitvoering en opvolging Burgemeestersconvenant actieplan 2030
        </row.actionDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowBurgemeesters>

      <CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowVastgoedplan
        @storeOptions={{this.storeOptions}}
        @businessRuleUriStr="http://data.lblod.info/id/subsidies/rules/6469df9c-b933-45c3-9457-4958c33935ca"
        @climateTableSubject={{this.climateTableSubject}}
        @populationCount={{this.populationCount}}
        @updateTotalRestitution={{this.updateTotaleRestitution}}
        @onUpdateRow={{this.validate}}
        as |row|>

        <row.actionDescription>
          <label class="au-c-label">Algemene beleidsdoelstellingen:</label>
          Ondersteuning Strategisch Vastgoedplan
        </row.actionDescription>

      </CustomSubsidyFormFields::ClimateSubsidyCostsTable::TableRowVastgoedplan>
    {{/if}}
  </tbody>
</table>

{{yield}}
