<tr>
  <th scope="row">
    {{yield (hash actionDescription = (component 'custom-subsidy-form-fields/climate-subsidy-costs-table/table-cell-data')) }}
  </th>
  <td>
    <AuInput
      disabled={{@disabled}}
      type="number"
      lang="nl-BE"
      @width="block"
      @value={{this.costPerUnit}}
      @error={{if this.costPerUnitErrors true false}}
      {{on "blur" this.update}}
    />
    per actieplan
    {{#each this.costPerUnitErrors as |error|}}
      <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
    {{/each}}
    <br>
    <span style="font-style: italic;">Indicatie: {{convert-to-currency this.indication}}</span>
  </td>
  <td>
    <AuInput
      disabled={{@disabled}}
      type="number"
      lang="nl-BE"
      @width="block"
      @value={{this.toRealiseUnits}}
      @error={{if this.toRealiseUnitsErrors true false}}
      {{on "blur" this.update}}
    />
    {{#each this.toRealiseUnitsErrors as |error|}}
      <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td>
    {{convert-to-currency this.amount}}
  </td>
  <td>
   {{convert-to-currency this.restitution}}
 </td>
</tr>
