<tr>
  <td>
    {{yield (hash actionDescription = (component 'custom-subsidy-form-fields/climate-subsidy-costs-table/table-cell')) }}
  </td>
  <td>
    {{yield (hash costPerUnitDescription = (component 'custom-subsidy-form-fields/climate-subsidy-costs-table/table-cell')) }}
  </td>
  <td>
    <AuInput
      readonly="true"
      type="number"
      lang="nl-BE"
      @width={{"block"}}
      @value={{20000}}
      class={{if this.errors "au-c-input--error"}}
    />
    {{#each this.errors as |error|}}
      <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td>
    {{convert-to-currency 10000}}
  </td>
  <td>
    {{yield (hash toRealiseUnitsDescription = (component 'custom-subsidy-form-fields/climate-subsidy-costs-table/table-cell')) }}
  </td>
</tr>
