<tr>
  <td>
    {{yield (hash actionDescription = (component 'custom-subsidy-form-fields/climate-subsidy-costs-table/table-cell')) }}
  </td>
  <td>
    {{yield (hash costPerUnitDescription = (component 'custom-subsidy-form-fields/climate-subsidy-costs-table/table-cell')) }}
  </td>
  <td>
    <AuInput
      disabled={{@disabled}}
      type="number"
      lang="nl-BE"
      @width={{"block"}}
      @value={{this.amount}}
      class={{if this.errors "au-c-input--error"}}
      {{on "blur" (fn this.update)}}
    />
    {{#each this.errors as |error|}}
      <AuHelpText @error={{"error"}}>{{error.message}}</AuHelpText>
    {{/each}}
  </td>
  <td>
    {{convert-to-currency this.restitution}}
  </td>
  <td>
    {{this.toRealiseUnits}} eenheden
  </td>
</tr>
