<div class="js-accordion js-accordion--open">
  <AuLabel>{{@field.label}}</AuLabel>

  <WuButtonGroup @isInline={{true}} @class="button-group__inline--small u-spacer--bottom--tinier">
    <WuButton @label="Alle meldingen"
              @isAlt={{true}}
              @isNarrow={{true}}
              disabled={{true}}/>
    <WuButton @label="Specifieke periode"
              @isAlt={{true}}
              @isNarrow={{true}}
              disabled={{true}}/>
  </WuButtonGroup>

  {{#if this.isEnabled}}
    <div class="accordion__content">
      <AuInput
              disabled={{true}}
              @value={{moment-format this.from "DD.MM.YYYY"}}
      />
      <AuInput
              disabled={{true}}
              @value={{moment-format this.to "DD.MM.YYYY"}}
      />
    </div>
  {{/if}}
</div>
